<!doctype html>
<html>
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
    <title><%= current_page.data.title || "The Periodic Table of Pickups" %></title>
    <%= stylesheet_link_tag '//cloud.typography.com/7164052/6813352/css/fonts.css', :site %>
    <%= yield_content :style %>
    <%= javascript_include_tag "//code.jquery.com/jquery-2.1.4.min.js", "isotope.min", "all" %>
  </head>

  <body class="<%= page_classes %>">
    <%= yield %>
  </body>

</html>
