<!doctype html>
<html>
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
    <title><%= current_page.data.title || "The Periodic Table of Pickups" %></title>
    <%= stylesheet_link_tag '//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css', '//fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700', :site %>
    <%= yield_content :style %>
    <%= javascript_include_tag "//code.jquery.com/jquery-2.1.4.min.js", "isotope.min", "all" %>
  </head>

  <body class="<%= page_classes %>">
    <div class="container-fluid">
      <%= yield %>
    </div>
  </body>

</html>
