
<div class="row">
  <div class="col-sm-2">

      <nav class="truck-nav">
        <div class="truck-nav-label">
          GVWR:
        </div>
        <div class="truck-nav-filters">
          <div class="truck-nav-filter truck-nav-filter-all current" data-filter="*">
            All
          </div>
          <% 
              trucks_sorted_by_gvwr = data.trucks.sort_by {|t| t.gvwr_class}
              trucks_by_gvwr = trucks_sorted_by_gvwr.group_by {|t| t.gvwr_class}
              trucks_by_gvwr.each do |gvwr, trucks|
          %>
          <% weight_class = gvwr_by_id(gvwr) %>
            <div class="truck-nav-filter truck-nav-filter-<%= weight_class.slug %>" data-filter=".<%= weight_class.slug %>">
              <%= weight_class.name %>
            </div>
          <% end %>
        </div>
      </nav>

    </div>
    <div class="col-sm-10">

      <div class="grid">
        <div class="grid-cell-sizer"></div>
        <% 
            data.trucks.each do |truck|
        %>
          <% weight_class = gvwr_by_id(truck.gvwr_class) %>
          <div class="grid-cell <%= weight_class.slug %>">
            <div class="grid-cell-interior">
              <header class="element-header">
                <div class="table-tr">
                  <div class="table-td">
                    <%= content_tag(:span, truck.make, :class => 'make') %> <%= content_tag(:span, truck.model, :class => 'model') %></span>
                  </div>
                  <div class="element-header-td text-right">
                    <%= content_tag(:span, '$' + rand(30..99).to_s + 'K', :class => 'msrp') %>
                  </div>
                </div>
              </header>
              <figure class="element-figure">
                <%= svg 'pickup' %>
              </figure>
              <div class="element-footer">
                <%= truck.cab_type.to_s + ' Cab - 4x' + truck.drive_wheels.to_s %>
              </div>
              <footer class="element-power">
                <div class="table-tr">
                  <div class="table-td">
                    <%= truck.max_towing.blank? ? 'T-' + rand(1000..10000).to_s : 'T-' + truck.max_towing.to_s %>
                  </div>
                  <div class="table-td text-right">
                    <%= truck.max_payload.blank? ? 'P-' + rand(1000..10000).to_s : 'P-' + truck.max_payload.to_s %>
                  </div>
                </div>
              </footer>
            </div>
          </div>
        <% end %>
      </div>

    </div>
  </div>



