
      <nav class="truck-nav">
        <div class="truck-nav-filter truck-nav-filter-all current" data-filter="*">
          All
        </div>
        <% 
            trucks_sorted_by_gvwr = data.trucks.sort_by {|t| t.gvwr_class}
            trucks_by_gvwr = trucks_sorted_by_gvwr.group_by {|t| t.gvwr_class}
            trucks_by_gvwr.each do |gvwr, trucks|
        %>
        <% weight_class = gvwr_by_id(gvwr) %>
        <div class="truck-nav-filter truck-nav-filter-<%= weight_class.slug %>" data-filter=".<%= weight_class.slug %>">
          <%= weight_class.name %>
        </div>
        <% end %>
      </nav>

      <div class="grid">
        <div class="grid-cell-sizer"></div>
        <% 
            data.trucks.each do |truck|
        %>
          <% weight_class = gvwr_by_id(truck.gvwr_class) %>
          <div class="grid-cell <%= weight_class.slug %>">
            <div class="grid-cell-interior">
              <header class="element-header">
                <div class="element-header-tr">
                  <div class="element-header-td">
                    <%= truck.make %> <%= content_tag(:span, truck.model, :class => 'model') %></span>
                  </div>
                  <div class="element-header-td text-right">
                    <%= content_tag(:span, rand(3..9).to_s, :class => 'msrp') %>
                  </div>
                </div>
              </header>
              <figure class="element-figure">
                <%= svg 'pickup' %>
              </figure>
              <footer class="element-footer">
                <%= truck.cab_type.to_s + ' Cab - 4x' + truck.drive_wheels.to_s %>
              </footer>
            </div>
          </div>
        <% end %>
      </div>



